.Register{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.amazon_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

.register-box {
    width: 30%;
    height:50;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.register-box > h1 {
    font-weight: 500;
    margin-bottom: 20px;
    justify-content: center;
    margin-left:25%;
  }

.register-box > form > h5 {
    margin-bottom: 5px;
}

.register-box > form > input {
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    width: 98.3%;
  }

.register-box > p {
    margin-top: 15px;
    font-size: 12px;
}   

.registerButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-top: 10px;
    font-size:20px;
    border-color: #a88734 #9c7e31 #846a29;
}

.registerButton:hover{
    background-color: orange;
}