.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color: black;
    position: sticky;
    top:0;
    z-index:100;
}

.logo{
    width:100px;
    object-fit: contain;
    margin:0 20px;
    margin-top: 10px;
}

.search_bar{
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}

.searchInput{
    height:12px;
    padding: 10px;
    border:none;
    width:100%;
}
.searchIcon{
    padding:5px;
    height:22px;
    background-color: orange;
}

.hello,.returns,.your{
    font-size: 10px;
}

.signIn,.Orders,.prime{
    font-size:13px;
    font-weight: 800;
}

.navigation{
    display:flex;
    justify-content: space-evenly;
}
.navig_options{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}

.basket{
    display: flex;
    align-items: center;
    color:white;
}

.basketCount{
    margin-left: 10px;
    margin-right: 10px;
}